$colors: (
    "body-color": #eae9fc,
    "body-bg": #191919,
    "primary": #cab9cb,
    "primary-alt": #392e6d,
    "grey": #64748b,
    "dark": #4a154b,
    "dark-alt": #370738,
    "light": #f1f5f9,
    "secondary": #5d0f25,
    "accent": #e6990a,
    "text-color": #f8f9fa,
);

$theme-colors: (
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #212529
);

$theme-colors: map-merge($theme-colors, $colors);

:root {
    @each $name, $color in $colors {
        --#{$name}: #{$color};
    }
    
    --sidebar-width: 300px;
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";